<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleEstoque.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Controle de Estoque</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastro
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="/Cadastro/GrupoProduto">Grupos de Produtos</a>
                                <a class="dropdown-item" href="/Cadastro/MarcaProduto">Marcas de Produtos</a>
                                <a class="dropdown-item" href="/Cadastro/LocalProduto">Locais de Armazenamento</a>
                                <a class="dropdown-item" href="/Cadastro/UnidadeMedida">Unidades de Medida</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Cadastro/Pais">Países</a>
                                <a class="dropdown-item" href="/Cadastro/Estado">Estados</a>
                                <a class="dropdown-item" href="/Cadastro/Cidade">Cidades</a>
                                <a class="dropdown-item" href="/Cadastro/Fornecedor">Fornecedores</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="/Cadastro/PerfilUsuario">Perfis de Usuários</a>
                                <a class="dropdown-item" href="/Cadastro/Usuario">Usuários</a>
                            </div>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Operações
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="/Operacoes/EntradaEstoque">Entrada de Produto</a>
                                <a class="dropdown-item" href="/Operacoes/SaidaEstoque">Saida de Estoque</a>
                                <a class="dropdown-item" href="/Operacoes/LancPerdaProduto">Lançamento de Perdas</a>
                                <a class="dropdown-item" href="/Operacoes/Inventario">Invertário de estoque</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Relatórios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="/Relatorios/PosicaoEstoque">Posição de Estoque</a>
                                <a class="dropdown-item" href="/Relatorios/ReabastecimentoEstoque">Reabastecimento de Estoque</a>
                            </div>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gráficos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" href="/Graficos/PerdaMes">Perdas</a>
                                <a class="dropdown-item" href="/Graficos/EntradaSaidaMensal">Entrada e Saídas</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sobre" asp-action="Sobre">Sobre</a>
                        </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Controle de Estoque - <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
